.basket-page {
    padding: 20px;
}

.store-section {
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 20px;
}

.store-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store-name {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.store-address {
    font-size: 13px;
    color: gray;
    margin-left: 7px;
}

.order-button {
    background-color: orange;
    color: rgb(51, 51, 51);
    border-radius: 20px;
    padding: 10px 50px;
    border: none;
    margin-top: 10px;
    margin-right: 20px;
}

.order-button:hover {
    background-color: darkorange;
}

.basket-item {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    border-radius: 20px;
}

.item-info {
    flex: 1; 
    padding-left: 40px;
}

.item-info p {
    margin: 5px 0;
}

.product-basket-name {
    font-size: 18px;
    font-weight: 500;
}

.item-actions {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-button {
    background-color: white;
    border: none;
    color: black;
    padding: 2px 10px;
    border-radius: 10px;
    margin: 10px;
}

.quantity-value {
    font-size: 14px;
    color: black;
}

.quantity-button:hover {
    background-color: darkorange;
}

.basket-product-image {
    width: 17%; 
    height: auto;
    transition: transform 0.3s ease-in-out; 
    margin-left: 50px;
}

.basket-product-image:hover {
    transform: scale(1.1); 
}

.notification {
    text-align: center;
    color: darkorange;
    opacity: 1;
    transition: opacity 1s ease-out;
    margin-bottom: 10px;
}

.notification.hidden {
    opacity: 0; 
    visibility: hidden; 
}

.empty-basket-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.basket-bottom {
    margin-top: 400px;
}

.quantity-change-animation {
    animation: pulse 0.3s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}