.subcategory-menu-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.current-subcategory {
    font-size: 35px;
    color: #333;
    margin-bottom: 20px;
}

.subcategory-list {
    list-style-type: none;
    padding: 0;
}

.subcategory-list li {
    margin-bottom: 10px;
}

.subcategory-list li.active {
    font-weight: bold;
}

.subcategory-link {
    text-decoration: none;
    font-size: 18px;
}

.subcategory-link:hover {
    text-decoration: underline;
}
